@mixin DesctopHeigh {
  @media screen and(max-width:1555px) {
    @content;
  }
}
@mixin DesctopLower {
  @media screen and(max-width:1350px) and(max-height:730px) and(min-width:850px) {
    @content;
  }
}
@mixin IpadReverse {
  @media screen and(max-width:1170px) {
    @content;
  }
}
@mixin IpadScreenP {
  @media screen and(max-width:850px) {
    @content;
  }
}

@mixin IpadScreen {
  @media screen and(max-width:768px) {
    @content;
  }
}
@mixin PhoneScreen {
  @media screen and(max-width:400px) {
    @content;
  }
}
@mixin PhoneScreenH {
  @media screen and(max-height:420px) {
    @content;
  }
}
