@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.ttf") format("truetype"),
    url("../fonts/Roboto-Light.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Thin";
  src: local("Roboto-Thin"),
    url("../fonts/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin.woff") format("woff"),
    url("../fonts/Roboto-Thin.ttf") format("truetype"),
    url("../fonts/Roboto-Thin.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("../fonts/OpenSans-SemiBold.eot") format("eot");
  font-display: swap;
}
