.footer {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom:70px;
  margin: 0 auto;
  background: #fafafa;
  display: flex;
}
.footer-container {
  width: 1130px;
  max-width: 100%;
  margin: 70px auto 0px auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container__item_text {
  color: #8191a6;
  font-family: $RobotLight;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
  line-height: 24px;
}
.flex-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}
.logo-container {
  width: 337px;
  max-width: 100%;
}
.flex-text p {
  color: #303842;
  font-family: $RobotReg;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-wrap: break-word;
}
.copyright {
  opacity: 0.5;
  color: #8191a6;
  font-family: $RobotReg;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 15px;
  word-wrap: break-word;
}
.heading-ul {
  color: #303842;
  font-family: $RobotReg;
  font-size: 14px;
  font-weight: 400;
  line-height: 58.6px;
  text-transform: uppercase;
}
.footer-list li a {
  color: #8191a6;
  font-family: $RobotReg;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
  transition: all .5s ease;
}
.footer-list li a:hover{
    color: #303842;
}
.footer-icons-list{
    width:136px;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    align-items: center;
}
.footer-container__item{
    max-width: 100%;
}
.footer-icons-list li a{
    transition: all .5s ease;
}
.footer-icons-list li a:hover{
    opacity: 0.7;
}

// Media
@include IpadReverse{
    .footer-container{
        width:90%;
        max-width: 100%;
    }
    .footer-container{
        justify-content: space-around;
    }
   
}
@include PhoneScreen{
    .footer-container{
        margin:30px auto 0px auto;
    }
    .footer{
        padding-bottom: 30px;
    }
    .logo-container img{
        display: block;
        margin:0 auto
    }
    .footer-container__item_text{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    .heading-ul{
        text-align: center;
    }
    .footer-icons-list{
        justify-content: space-around;
        margin-top:0px;
    }
}
@include PhoneScreenH{
    .footer-container{
        margin:30px auto 0px auto;
    }
    .footer{
        padding-bottom: 30px;
    }
    .logo-container img{
        display: block;
        margin:0 auto
    }
    .footer-container__item_text{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    .heading-ul{
        text-align: center;
    }
    .footer-icons-list{
        justify-content: space-around;
        margin-top:0px;
    }
}