.header {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background: url("../img/bg/bg_header.png") no-repeat;
  position: relative;
}
.burger-menu {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.burger-menu-navigation {
  width: 120px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.burger-menu-navigation a {
  margin-top: 40px;
  color: #45505e;
  font-family: $RobotReg;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}
.close-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.wrap-header {
  width: 100%;
  max-width: 100%;
  height: 110px;
  box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
  background-color: rgba(255, 255, 255, 0.94);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.top-header {
  width: 100%;
  max-width: 100%;
  height: 40px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #e5e3db;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.94);
}
.bottom-header {
  width: 1142px;
  margin: 55px auto 0px auto;
  max-width: 100%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.top-header__content {
  width: 1142px;
  margin: 0 auto;
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-list {
  width: 161px;
  max-width: 100%;
  height: 14px;
  display: flex;
  justify-content: space-between;
}
.top-header-list__link {
  transition: all 0.5s ease;
}
.top-header-list__link::before {
  position: absolute;
  width: 16px;
  content: "";
  height: 14px;
  background: url("../img/icons/spriteicon.png");
  background-repeat: no-repeat;
}
.top-header-list__link:hover {
  opacity: 0.7;
}
.top-header-list__link_google::before {
  background-position: -36px 0px;
}
.top-header-list__link_insta::before {
  background-position: -74px 0px;
}
.top-header-list__link_skype::before {
  background-position: -111px 0px;
}
.top-header-list__link_ball::before {
  background-position: -148px 0px;
}
.top-header-contact__link {
  color: #6b7c93;
  font-family: $RobotLight;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-decoration: none;
}
.top-header-contact__link span {
  color: #303842;
  font-family: $RobotReg;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  margin-right: 16px;
}
.bottom-header-list {
  width: 571px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 37px;
}
.bottom-header-list a {
  color: #45505e;
  font-family: $RobotReg;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.bottom-header-list a:hover {
  opacity: 0.7;
}
.bottom-header-logo {
  transition: all 0.5s ease;
}
.bottom-header-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}
.bottom-header-logo:hover {
  opacity: 0.7;
}
.bottom-header-burger {
  cursor: pointer;
}
.title {
  color: #303842;
  font-family: $RobotLight;
  font-size: 56px;
  font-weight: 300;
  line-height: 72px;
  text-align: center;
  margin-top: 307px;
}
.header-page h2 {
  color: #6b7c93;
  font-family: $RobotLight;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  margin-top: 40px;
}
.header-page button {
  width: 139px;
  height: 44px;
  max-width: 100%;
  box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
  border-radius: 22px;
  background-color: #ffffff;
  color: #4caf50;
  font-family: $RobotReg;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  display: block;
  margin: 40px auto 0px auto;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header-page button:hover {
  background: #4caf50;
  color: #fff;
}

// Media
@include DesctopLower {
  .title {
    margin-top: 100px;
  }
}
@include IpadReverse {
  .top-header__content {
    width: 90%;
    max-width: 100%;
  }
  .bottom-header {
    width: 90%;
    max-width: 100%;
  }
}
@include IpadScreenP {
  .title {
    margin-top: 100px;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
  }
  .header-page h2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .header {
    height: auto;
    padding-bottom: 50px;
  }
  .header-page {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }
  .bottom-header-list {
    width: 450px;
    max-width: 100%;
  }
  .bottom-header-list a {
    font-size: 9px;
  }
}
@include IpadScreen {
  .bottom-header-list {
    display: none;
  }
}
@include PhoneScreen {
  .header-page button {
    width: 106px;
    height: 37px;
    font-size: 11px;
    margin: 20px auto 0px auto;
  }
  .bottom-header {
    height: 25px;
  }
  .wrap-header {
    height: 94px;
  }
  .title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .header-page h2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }

  .bottom-header-logo img {
    width: 90px;
  }
  .top-header-list {
    display: none;
  }
  .top-header-contact {
    margin: 0 auto;
  }
}
@include PhoneScreenH {
  .header-page button {
    width: 106px;
    height: 37px;
    font-size: 11px;
    margin: 20px auto 0px auto;
  }
  .bottom-header {
    height: 25px;
  }
  .wrap-header {
    height: 94px;
  }
  .title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .header-page h2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }

  .bottom-header-logo img {
    width: 90px;
  }
  .top-header-list {
    display: none;
  }
  .top-header-contact {
    margin: 0 auto;
  }
}
