.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.section-customers {
  width: 100%;
  height: 160px;
  max-width: 100%;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
}
.section-customers-content {
  width: 1133px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content-flex {
  width: 356px;
  max-width: 100%;
}
.content-flex__heading {
  color: #303842;
  font-family: $RobotLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}
.content-flex p {
  color: #8191a6;
  font-family: $RobotLight;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 24px;
}
.content-flex-img {
  width: 668px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-flex-img div img {
  max-width: 100%;
  height: auto;
  display: block;
}
.section-services {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 100px auto 0px auto;
}
.section-services-content {
  width: 1517px;
  max-width: 100%;
  height: 673px;
  background: url("../img/bg/laptop.png") no-repeat;
  background-size: cover;
  display: flex;
}
.servisec-fields {
  width: 729px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-top: 50px;
}
.section-title {
  color: #303842;
  font-family: $RobotLight;
  font-size: 34px;
  font-weight: 300;
  line-height: 35px;
}
.section-description {
  margin-top: 22px;
  color: #8191a6;
  font-family: $RobotLight;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.strategy-list {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0px auto;
  flex-wrap: wrap;
}
.strategy-list__item {
  width: 330px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.strategy-list__item__img {
  padding-right: 30px;
  height: 86px;
  border-right: 1px solid #f1f1f1;
}
.strategy-list__context_heading {
  color: #252b33;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  font-family: $RobotReg;
}
.strategy-list__context_text {
  color: #8191a6;
  font-family: $RobotLight;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 18px;
}
.strategy-list__item__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-together {
  width: 100%;
  height: 925px;
  max-width: 100%;
  margin: 0 auto;
  background: url("../img/bg/manh.png") no-repeat center center;
  background-size: cover;
  display: flex;
}
.section-together-content {
  width: 694px;
  max-width: 100%;
  height: auto;
  margin: 200px auto 0px auto;
}
.state {
  width: 425px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.state__item {
  width: 155px;
  max-width: 100%;
  margin-top: 83px;
}
.state__item__heading {
  font-family: $RobotThin;
  font-size: 44px;
  font-weight: 400;
  line-height: 24px;
}
.state__item__heading_colorf {
  color: #32d5ba;
}
.state__item__heading_colors {
  color: #6dc4f2;
}
.state__item__heading_colort {
  color: #ffd13c;
}
.state__item__heading_colorfo {
  color: #f44336;
}
.state__item__text {
  color: #303842;
  font-family: $RobotLight;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-contact {
  width: 100%;
  max-width: 100%;
  height:auto;
  padding-bottom:120px;
  margin: 0 auto;
  background: url("../img/bg/form.png") no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid #f0f0f0;
}
.wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.section-contact__text {
  width: 526px;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
.section-description_center {
  text-align: center;
}
.section-contact__form {
  width: 750px;
  max-width: 100%;
  height: auto;
  padding-bottom: 65px;
  box-shadow: 0 0 28px rgba(183, 183, 183, 0.45);
  border-radius: 9px;
  background-color: #ffffff;
  margin: 70px auto 0px auto;
  display: flex;
}
.contact-form {
  width: 621px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.contact-form-input {
  margin-top: 70px;
}
.contact-form-input input {
  width: 100%;
  max-width: 100%;
  height: 69px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-family: $RobotLight;
  display: block;
}
.contact-form-input__label {
  color: #000000;
  font-family: $OsansSB;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.contact-form-flex {
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-top: 33px;
}

.contact-form-flex input {
  width: 301px;
  max-width: 100%;
  height: 69px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-family: $RobotLight;
  display: block;
}
.contact-form-textarea {
  margin-top: 35px;
}
.contact-form-textarea textarea {
  width: 621px;
  max-width: 100%;
  height: 178px;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: none;
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}
.contact-form-button {
  width: 139px;
  max-width: 100%;
  height: 44px;
  box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
  border-radius: 22px;
  background-color: #ffffff;
  color: #4caf50;
  font-family: $RobotReg;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contact-form-button:hover {
  background: #4caf50;
  color: #fff;
}
.contact-form-flex_contaner {
  max-width: 100%;
}
// Media
@include DesctopHeigh {
  .strategy-list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .section-title {
    text-align: center;
  }
  .section-description {
    text-align: center;
  }
  .section-services {
    width: 90%;
    max-width: 100%;
  }
  .section-services-content {
    margin: 0 auto;
    background: none;
    height: auto;
  }
  .servisec-fields {
    margin: 0 auto;
  }
}
@include IpadReverse {
  .section-customers {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
  .section-customers-content {
    width: 90%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content-flex h3 {
    text-align: center;
  }
  .content-flex p {
    text-align: center;
  }
  .content-flex-img {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .content-flex-img div {
    margin-top: 20px;
  }
}
@include IpadScreen {
  .contact-form {
    width: 90%;
    max-width: 100%;
  }
  .wrapper {
    width: 90%;
    max-width: 100%;
  }
  .state {
    margin: 20px auto 0px auto;
  }
  .state__item {
    margin-top: 40px;
  }
  .state__item__heading {
    font-size: 33px;
  }
  .state__item__text {
    font-size: 13px;
  }
  .section-together {
    height: auto;
    padding-bottom: 90px;
  }
  .section-together-content {
    width: 90%;
    max-width: 100%;
  }
}
@include PhoneScreen {
  .section-contact__form {
    padding-bottom: 30px;
  }
  .contact-form-input {
    margin-top: 30px;
  }
  .contact-form-button {
    display: block;
    margin: 20px auto 0px auto;
    width: 115px;
    max-width: 100%;
    height: 34px;
  }
  .contact-form-textarea textarea {
    height: 100px;
  }
  .contact-form-flex_contaner_last {
    margin-top: 20px;
  }
  .contact-form-input__label {
    font-size: 11px;
  }
  .contact-form-input input {
    height: 45px;
  }
  .contact-form-flex input {
    height: 45px;
  }
  .section-together-content {
    margin: 100px auto 0px auto;
  }
  .state {
    justify-content: space-around;
  }
  .section-services {
    margin: 30px auto 0px auto;
  }
  .strategy-list__context_text {
    font-size: 11px;
  }
  .strategy-list__item {
    width: 275px;
    margin-top: 45px;
  }
  .strategy-list {
    margin: 0 auto;
  }
  .section-title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .section-description {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .content-flex p {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .content-flex h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
}
@include PhoneScreenH {
  .section-contact__form {
    padding-bottom: 30px;
  }
  .contact-form-input {
    margin-top: 30px;
  }
  .contact-form-button {
    display: block;
    margin: 20px auto 0px auto;
    width: 115px;
    max-width: 100%;
    height: 34px;
  }
  .contact-form-textarea textarea {
    height: 100px;
  }
  .contact-form-flex_contaner_last {
    margin-top: 20px;
  }
  .contact-form-input__label {
    font-size: 11px;
  }
  .contact-form-input input {
    height: 45px;
  }
  .contact-form-flex input {
    height: 45px;
  }
  .section-together-content {
    margin: 100px auto 0px auto;
  }
  .state {
    justify-content: space-around;
  }
  .section-services {
    margin: 30px auto 0px auto;
  }
  .strategy-list__context_text {
    font-size: 11px;
  }
  .strategy-list__item {
    width: 275px;
    margin-top: 45px;
  }
  .strategy-list {
    margin: 0 auto;
  }
  .section-title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .section-description {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .content-flex p {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .content-flex h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
}
